@model Models.FuncionarioModel

@{
    ViewData["Title"] = "cambiarPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cambiar Password</h1>
<div class="row">
    <p>
        Tome en cuenta lo siguiente:
        <br><strong>• La contraseña debe tener al menos entre 8 y 16 caracteres.</strong>
        <br><strong>• Al menos un dígito.</strong>
        <br><strong>• Al menos una minúscula.</strong>
        <br><strong>• Al menos una mayúscula.</strong>
        <br><strong>• Al menos un carácter no alfanumérico.</strong>
    </p>
</div>
@if (TempData["mensajeError"] != null)
{
    <div class="alert alert-danger">
        @TempData["mensajeError"]
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="cambiarPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idFuncionario" class="control-label"></label>
                <input asp-for="idFuncionario" class="form-control" readonly/>
                <span asp-validation-for="idFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correoFuncionario" class="control-label"></label>
                <input asp-for="correoFuncionario" class="form-control" readonly/>
                <span asp-validation-for="correoFuncionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

